@font-face {
  font-family: CustomYuGothic;
  font-weight: normal; /* 400 */
  src: local("YuGothic-Medium"), /* Postscript */
       local("Yu Gothic Medium"), /* for Chrome */
       local("YuGothic-Regular"); /* for Windows 8.1 */
}

@font-face {
  font-family: CustomYuGothic;
  font-weight: bold; /* 700 */
  src: local("YuGothic-Bold"), /* Postscript */
       local("Yu Gothic"); /* for Chrome */
}

:root {
  --font-family-japanese: -apple-system, /* San Francisco */
                          BlinkMacSystemFont, /* San Francisco */
                          "Hiragino Kaku Gothic ProN",
                          CustomYuGothic, /* Windows */
                          Meiryo,
                          sans-serif;
  --font-family-serif: var(--font-family-japanese);
  --font-family-sans-serif: var(--font-family-japanese);
  --font-family-monospace: Inconsolata, monospace;
}

/**
 * 3.0 - Typography
 */

body,
button,
input,
select,
textarea {
  font-family: var(--font-family-serif);
  font-feature-settings: "pkna";
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: var(--font-family-monospace);
}


/**
 * 4.0 - Elements
 */

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  font-family: var(--font-family-sans-serif);
}

:-moz-placeholder {
  font-family: var(--font-family-sans-serif);
}

::-moz-placeholder {
  font-family: var(--font-family-sans-serif);
}

:-ms-input-placeholder {
  font-family: var(--font-family-sans-serif);
}


/**
 * 5.0 - Forms
 */

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
  font-family: var(--font-family-sans-serif);
}

.post-password-form label {
  font-family: var(--font-family-sans-serif);
}


/**
 * 6.2 - Menus
 */

.main-navigation {
  font-family: var(--font-family-sans-serif);
}

.post-navigation {
  font-family: var(--font-family-sans-serif);
}

.post-navigation .post-title {
  font-family: var(--font-family-sans-serif);
}

.pagination {
  font-family: var(--font-family-sans-serif);
}

.image-navigation,
.comment-navigation {
  font-family: var(--font-family-sans-serif);
}


/**
 * 7.0 - Accessibility
 */

.site .skip-link {
  font-family: var(--font-family-sans-serif);
}

.logged-in .site .skip-link {
  font-family: "Open Sans", sans-serif;
}


/**
 * 10.0 - Widgets
 */

.widget .widget-title {
  font-family: var(--font-family-sans-serif);
}

.widget_recent_entries .post-date {
  font-family: var(--font-family-sans-serif);
}

.widget_rss .rss-date,
.widget_rss cite {
  font-family: var(--font-family-sans-serif);
}

/* Tag Cloud widget */
.tagcloud a {
  font-family: var(--font-family-sans-serif);
}

/**
 * 11.1 - Header
 */

.site-title {
  font-family: var(--font-family-sans-serif);
}

/**
 * 11.2 - Posts and pages
 */

.entry-title {
  font-family: var(--font-family-sans-serif);
}

.entry-footer {
  font-family: var(--font-family-sans-serif);
}

.sticky-post {
  font-family: var(--font-family-sans-serif);
}

.page-title {
  font-family: var(--font-family-sans-serif);
}

.page-links {
  font-family: var(--font-family-sans-serif);
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
  font-weight: 700;
}

/**
 * 11.4 - Comments
 */

.comments-title,
.comment-reply-title {
  font-family: var(--font-family-sans-serif);
}

.comment-metadata,
.pingback .edit-link {
  font-family: var(--font-family-sans-serif);
}

.comment-reply-link {
  font-family: var(--font-family-sans-serif);
}

.comment-form label {
  font-family: var(--font-family-sans-serif);
}

.no-comments {
  font-family: var(--font-family-sans-serif);
}

.form-allowed-tags code {
  font-family: var(--font-family-monospace);
}

.required {
  font-family: var(--font-family-serif);
}

/**
 * 11.6 - Footer
 */

.site-footer .site-title:after {
  font-family: var(--font-family-sans-serif);
}

/**
 * 13.0 - Multisites
 */

.widecolumn label,
.widecolumn .mu_register label {
  font-family: var(--font-family-sans-serif);
}


/**
 * 16.0 Custom
 */

ins.adsbygoogle {
  background: none
}

.social-navigation a[href*="www.ymyzk.com"]:before {
	content: "\f475";
}
